<h1>This is <span class="label label-default">Robert</span> playing around!</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.scoop.it/p-zWa23_iMac-_nsNlcMioXXXL4j3HpexhjNOf_P3YmryPKwJ94QGRtDb3Sbc6KY" alt="Carl Jung">
      <div class="caption">
        <h3>In the dream your true self will prevail</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.scoop.it/p-zWa23_iMac-_nsNlcMioXXXL4j3HpexhjNOf_P3YmryPKwJ94QGRtDb3Sbc6KY" alt="Carl Jung">
      <div class="caption">
        <h3>In the dream your true self will prevail</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.scoop.it/p-zWa23_iMac-_nsNlcMioXXXL4j3HpexhjNOf_P3YmryPKwJ94QGRtDb3Sbc6KY" alt="Carl Jung">
      <div class="caption">
        <h3>In the dream your true self will prevail</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://s6.favim.com/orig/65/dream-colours-cool-digital-art-Favim.com-582559.jpg" alt="Dream">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://s6.favim.com/orig/65/dream-colours-cool-digital-art-Favim.com-582559.jpg" alt="Dream">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://s6.favim.com/orig/65/dream-colours-cool-digital-art-Favim.com-582559.jpg" alt="Dream">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://s6.favim.com/orig/65/dream-colours-cool-digital-art-Favim.com-582559.jpg" alt="Dream">
    </a>
  </div>
</div>
